:root{
    --myblack : #101820FF;
    --mygreen : #006B38FF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--myblack);
    color: #fff;
}
/*============Nav==========*/

.header-1{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}
@font-face{
    font-family: haile;
    src: url(Fuggles-Regular.ttf);
    font-size: 20px;
}
.name{
    
    margin-left: 50px;
    font-family: haile;
    
}
.name a{
    text-decoration: none;
    color: #fff;
    transition: 2s;
}
.menu{
    display: flex;
   
    margin-right: 50px;
    justify-content: space-evenly;
    padding: 0px 40px 0px 40px;
    align-items: center;
}
.navlist{
    display:flex;

}
.navlink{
    display: flex;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 20px;
    color: #fff;
    padding: 10px 20px 10px 20px;
}
.navlink:hover{
    background-color: var(--mygreen);
    border-radius: 15px;
}


/*==========Home ==========*/


.home{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    font-family: sans-serif;
    margin-top: 200px;
}
.haile{
    color: var(--mygreen);
}
.text{
    padding-top: 40px;
    margin-left: 50px;
    padding-right: 50px;
}
.image{ 
    
    margin-right: 200px;
}

.btn{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color: var(--mygreen);
    border: 0px solid #fff;
    color: #fff;
    margin-top: 100px;
}



/*===========about=========*/
.about{
    padding-bottom: 50px;
}
.aboutmin{
    margin-left: 40%;
    margin-right: 50%;
    
}
.line{
    width: 120px;
    height: 10px;
    color: #fff;
    background-color: var(--mygreen);
    border-radius: 10px;
    
}
.h1{
    color: var(--mygreen);
}


.main{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    height: 500px;
    font-family: sans-serif;

}
.infor{
    margin-top: 100px;
    margin-left: 50px;
    
}
.images {
    display: flex;
    align-items: center;
    
    margin-top: 40px;
    margin-bottom: 100px;
    height: 500px;

}
.images img{
    margin-bottom: 50px;
    
}


/*===============Skils============*/
.skilltag{
       color: var(--mygreen);
       display: flex;
       justify-content: center;
      
}
.skillline{
       display: flex;
       justify-content: center;
       width: 120px;
       height: 10px;
       color: #fff;
       background-color: var(--mygreen);
       border-radius: 10px;
       margin-left: 45%;
    }
.skills{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 150px;
    padding-top: 150px;
}
.scontainer{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.scontainer .card{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;

}
.scontainer .card:hover{
    transform: translateY(-10px);
    background: #333;
    
}
.scontainer .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2{
    color: #777;
    font-weight: 500;
    font-size: 30px;
    transition: 0.5s;

}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 40px;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;

}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width:10 ;
    stroke-linecap:round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2){
    stroke-dashoffset: 440;
    stroke-dasharray: 440;

}
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 500;
    stroke-dasharray: 1000;
    stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 500;
    stroke-dasharray: 900;
    stroke: #00ff43;
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 500;
    stroke-dasharray: 450;
    stroke: #00ff43;
}
.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: 500;
    stroke-dasharray: 800;
    stroke: #00ff43;
}

/*===============contact page==============*/
.icicons{
    display: flex;
    justify-content: center;
    margin: 15% auto;
}
.icicons ul li{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: var(--myblack);
    margin: auto 50px;
    box-shadow: 3px 3px 10px #353535,
    -4px -4px 10px rgb(2, 2, 2);
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    transition: 0.3s;
    border-radius: 25px;
    

}
.icicons ul li a{
    color: #fff;
}
.icicons ul li:nth-child(1):hover{
    color: #353535;
    border-radius: 50%;
    background-color: #000;
}
.icicons ul li:nth-child(2):hover{
    color: #353535;
    border-radius: 50%;
    background-color: #1DA1F2;
}
.icicons ul li:nth-child(3):hover{
    color: #353535;
    border-radius: 50%;
    background-color: rgb(41, 202, 41);
}

/*===========footer========*/

footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;


}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footerbot{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footerbot p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footerbot span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/*media query */
@media all and (max-width:500px){
    .name{
        font-size: 10px;
        margin-left: 10px;
        text-decoration: none;
    }
    .menu{
        width: 100px;
    }
    .navlink{
        display: none;
    }
    .text{
        margin-left: 0px;
        padding-right: 10px;

    }
    .image{
        display: flex;
        align-items: center;
    }
    .image img{
        width: 160px;
        height: 160px;

    }
    .text h4{
        font-size: 10px;
    }
}
